<a href="https://colab.research.google.com/github/mirellagarcia/interpretando_dados/blob/main/dados_diversos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 5.7. Exercício - Medidas de posição

Faça o download dos dados de [nascidos vivos em 2017 de Sergipe](https://drive.google.com/file/d/1-JnSCtkibxdKWxkrWSml2HD60PejMm0s/view?usp=sharing) e responda às seguintes perguntas:



1.   Qual a média da idade da mãe, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidade de filhos mortos?
2.   Qual a idade tal que metade das idades das mães são menores que ela (mediana)?
3.   Qual o apgar de 1 min que mais aparece (moda)?
4.   Qual o apgar de 5 minutos que mais aparece?
5.   Qual o peso da criança tal que 10% dos pesos são menores (P10)?
6.   Qual o peso da criança tal que 75% dos pesos são menores (Q3)?
7.   Qual a quantidade de filhos mortos que mais aparece?
8.   Qual a média de idade de mães solteiras?
9.   Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade tal que 25% dessa quantidade são menores (Q1)?
10.   Qual a moda da idade das mães para as crianças que nasceram com anomalia congênita?

<br/>

Utilize como referência os campos este arquivo: [https://drive.google.com/open?id=1N5exAY_Uk-uyCpzYFocIVn9MO3v-HqWrt](https://drive.google.com/open?id=1N5exAY_Uk-uyCpzYFocIVn9MO3v-HqWr)

Lembre-se de:

*   Carregar os dados em um dataframe
*   Transformar os dados necessários

In [6]:
#Preparação do Ambiente
#importar pandas
import pandas as pd
#montar drive para ler os arquivos
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
#Colocando o caminho do arquivo em uma variavel
caminho = ("/content/drive/MyDrive/DNSE2017.csv")

#Ler arquivo e mostrar dados
sinasc = pd.read_csv(caminho, dtype = str)
sinasc.head(5)

  contador ORIGEM CODESTAB CODMUNNASC  ... CODPAISRES TPROBSON PARIDADE KOTELCHUCK
0        1      1  2415631     230440  ...        NaN       05        1          9
1        2      1  2005050     270030  ...        NaN       03        1          3
2        3      1  2005050     270030  ...        NaN       11        0          5
3        4      1  2005026     270030  ...        NaN       05        1          2
4        5      1  2722429     270400  ...        NaN       03        1          2

[5 rows x 61 columns]

In [8]:
#Transformação dos dados
sinasc['PESO'] = pd.to_numeric(sinasc['PESO'])
sinasc['IDADEMAE'] = pd.to_numeric(sinasc['IDADEMAE'])
sinasc['IDADEPAI'] = pd.to_numeric(sinasc['IDADEPAI'])
sinasc['APGAR1'] = pd.to_numeric(sinasc['APGAR1'])
sinasc['APGAR5'] = pd.to_numeric(sinasc['APGAR5'])

sinasc['QTDFILVIVO'] = pd.to_numeric(sinasc['QTDFILVIVO']).astype(pd.Int64Dtype())
sinasc['QTDFILMORT'] = pd.to_numeric(sinasc['QTDFILMORT']).astype(pd.Int64Dtype())
sinasc['SEMAGESTAC'] = pd.to_numeric(sinasc['SEMAGESTAC']).astype(pd.Int64Dtype())
sinasc['CONSPRENAT'] = pd.to_numeric(sinasc['CONSPRENAT']).astype(pd.Int64Dtype())
sinasc['SERIESCMAE'] = pd.to_numeric(sinasc['SERIESCMAE']).astype(pd.Int64Dtype())
sinasc['QTDPARTCES'] = pd.to_numeric(sinasc['QTDPARTCES']).astype(pd.Int64Dtype())
sinasc['QTDPARTNOR'] = pd.to_numeric(sinasc['QTDPARTNOR']).astype(pd.Int64Dtype())
sinasc['QTDGESTANT'] = pd.to_numeric(sinasc['QTDGESTANT']).astype(pd.Int64Dtype())

In [10]:
#filtrar dados para as análises

#filtro para as mães com até 3 anos de escolaridade
escolaridade = sinasc[(sinasc['ESCMAE'] == '1') | (sinasc['ESCMAE'] == '2')]
#filtro para as mães solteiras
solteiras = sinasc[sinasc['ESTCIVMAE'] == '1']
# filtro para os nascimentos com anomalia
anomalia = sinasc[sinasc['IDANOMAL'] == '1']

In [11]:
# descrição do dataframe
sinasc.describe()

           IDADEMAE    QTDFILVIVO  ...    SEMAGESTAC    CONSPRENAT
count  33867.000000  30180.000000  ...  33483.000000  33571.000000
mean      26.148079      1.123062  ...     38.673476      7.178011
std        6.849105      1.417291  ...      2.190846      4.441002
min       11.000000      0.000000  ...     19.000000      0.000000
25%       21.000000      0.000000  ...     38.000000      5.000000
50%       26.000000      1.000000  ...     39.000000      7.000000
75%       31.000000      2.000000  ...     40.000000      9.000000
max       51.000000     14.000000  ...     45.000000     99.000000

[8 rows x 13 columns]

In [12]:
#1 - Qual a média da idade da mãe, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidade de filhos mortos?

campos_medias = sinasc[['PESO','IDADEMAE','QTDFILVIVO','QTDFILMORT','APGAR1','APGAR5']]
medias = campos_medias.mean().to_frame()
medias

                      0
PESO        3223.196332
IDADEMAE      26.148079
QTDFILVIVO     1.123062
QTDFILMORT     0.310486
APGAR1         8.443829
APGAR5         9.526913

In [14]:
#2 - Qual a idade tal que metade das idades das mães são menores que ela (mediana)?

campos_mediana = sinasc[['IDADEMAE']]
medianas = campos_mediana.median().to_frame()
medianas

             0
IDADEMAE  26.0

In [20]:
#3 - Qual o apgar de 1 min que mais aparece (moda)?

campos_moda1 = sinasc[['APGAR1']]
moda1 = campos_moda1.mode()
moda1

   APGAR1
0     9.0

In [21]:
#4 - Qual o apgar de 5 minutos que mais aparece?

campos_moda2 = sinasc[['APGAR5']]
moda2 = campos_moda2.mode()
moda2

   APGAR5
0    10.0

In [22]:
#5 - Qual o peso da criança tal que 10% dos pesos são menores (P10)?

campos_quantis = sinasc[['PESO']]
quantis = campos_quantis.quantile([0.1])
quantis

       PESO
0.1  2570.0

In [24]:
#6 - Qual o peso da criança tal que 75% dos pesos são menores (Q3)?

campos_quantis2 = sinasc[['PESO']]
quantis2 = campos_quantis2.quantile([0.75])
quantis2

        PESO
0.75  3575.0

In [25]:
#7 - Qual a quantidade de filhos mortos que mais aparece?

campos_moda3 = sinasc[['QTDFILMORT']]
moda3 = campos_moda3.mode()
moda3

   QTDFILMORT
0           0

In [37]:
#8 - Qual a média de idade de mães solteiras?

sinascSE2 = sinasc[(sinasc.ESTCIVMAE == '1')]
sinascSE2.IDADEMAE.mean

<bound method Series.mean of 4        16
5        25
7        26
19       26
35       21
         ..
33854    21
33858    20
33864    26
33865    33
33866    23
Name: IDADEMAE, Length: 16274, dtype: Int64>

In [38]:
#9 - Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade tal que 25% dessa quantidade são menores (Q1)?

escolaridade = sinasc[(sinasc.ESCMAE >= '2')]
escolaridade.QTDFILVIVO.quantile(0.25)

0.0

In [32]:
#10 - Qual a moda da idade das mães para as crianças que nasceram com anomalia congênita?

anomalia = sinasc[(sinasc.IDANOMAL == '1')]
anomalia.IDADEMAE.mode()

0    21
dtype: int64